
form.SearchBar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #616161;
  }

  .colo{
    background-color: cadetblue;
    padding-top: 20px;
  }

  .colo1{
    padding-top: 120px;
  }

  #Title #Year #Genre{
    transition-duration: 0.8s;
    transition-property: transform;
  }

  #Title:hover{
    transform: scale(1.10) ;
    color:yellow;

  }

  
  #Year:hover{
    transform: scale(1.10) ;
    color:yellow;

  }

  
  #Genre:hover{
    transform: scale(1.10) ;
    color:yellow;

  }
 
  .image {
    padding-top: 10px;
    filter: grayscale(100%);

      overflow: hidden;

      transition-duration: 0.8s;
      transition-property: transform;
  }
  .image:hover {
      filter: grayscale(0%);

      -moz-transform: scale(1.3) rotate(360deg);
      -ms-transform: scale(1.3) rotate(360deg);
      transform: scale(1.3) rotate(360deg);
      -webkit-transform: scale(1.3) rotate(360deg);
      -o-transform: scale(1.3) rotate(360deg);

  }
  
  form.SearchBar button {
    float: left;
    width: 17%;
    padding: 10px;
    background: #185491;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.SearchBar::after {
    content: "";
    clear: both;
    display: table;
  }

  form.SearchBar button:hover {
    background: #616161;
    transition-property: transform;
    transform: scale(1.10);

  }
